//
// Flatcar Linux theme
//
 
// Import bootstrap with our custom variables.
@import "custom";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600|Raleway:300,400');
$font-text: 'Ralaway', sans-serif;
$font-header: 'Poppins', sans-serif;
$font-title: 'Poppins', sans-serif; 
$font-info: 'Ralaway', sans-serif;
// $font-mono: 'Anonymous Pro', monospace;

$color-red: #ff3855;
$color-green: #00ffaa;
$color-blue: #001e43;

$color-bg: #e4f2e3;
$color-grey: #999;

$color-black: #000;
$color-white: #fff;

html {
    height: 100%;
    font-size: 18px;
}

body {
    color: $color-black;
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    font-family: $font-text;
    font-size: 100%;
    font-weight: 300;
    min-height: 100%;
    overflow-x: hidden;
}

::selection {
    background: $color-red;
    color: white;
}

header {
    margin-top: -180px
}

.nodeco-link {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: inherit;
        background: none;
    }
    color: inherit;
    border: none;
}

.page-highlight {
    font-size: 2.4rem;
}

a {
    text-decoration:none;
    border-bottom: 2px solid $color-green;
    box-shadow: inset 0 -4px 0 $color-green;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);

    &:hover {
      text-decoration: none;
      color: inherit;
      background: $color-green;
    }
}

#jumbotron {
    background-color: $color-blue;
    padding-bottom: 120px;
    padding-top: 250px;
    background-size: cover;

    text-align: center;

    #jumbo-logo {
        max-height: 350px;
    }

    .title {
        color: $color-red;
        font-family: $font-title;
        font-size: 6em;
        margin-bottom: 15px;
    }
    
    .subtitle {
        color: $color-white;
        font-family: $font-header;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // text-transform: uppercase;
    font-family: $font-header;
    font-weight: 700;
}

.sections {
    > div {
        padding-bottom: 3rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    a.btn {
        position: absolute;
        bottom: 0;

        box-shadow: 0 0 0 white;
        background: $color-green;
        color: $color-blue;
    }
}

.article-content {
    width: 100%;
}

.navbar-brand {
    box-shadow: 0 0 0 white;
    border: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        border: none;
        box-shadow: 0 0 0 white;
        background: inherit;
    }

    img {
        width: 100px;
    }
}

// Provide some space on the edges.
.container>.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

article {
    padding-bottom: 60px;
    flex: 1;

    h1 {
        color: $color-red;
        margin: 2rem auto;
        font-size: 6rem;
    }
}

.single {
    margin-top: 5rem;
}

p,
li {
    font-weight: 300;
    line-height: 1.6em;
}

#frontpage-header {
    margin-bottom: 0;   
}

.article-summary {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: none;
    }
}

.release-notes {
    h2 {
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 1.2rem;
    }

    border-bottom: 1px solid #888;
    margin-bottom: 3em;
}

#footer {
    min-height: 100px;
}

footer {
    margin-top: 40px;

    .social a {
        color: $color-red;
        box-shadow: 0 0 0 white;
        border: none;
        
        &:hover {
            background: none;
        }
    }

    > .container {
        padding-bottom: 30px;
        padding-top: 40px;
    }
}

.copyright {
    color: $color-blue;
    margin-bottom: 0;
}
