baseurl: "/"
title: Flatcar Container Linux
canonifyurls: true
pagination:
  pagerSize: 8
theme: flatcar
languageCode: en-us
copyright: Copyright the Flatcar Project Contributors
pluralizelisttitles: "false"
permalinks:
  blog: "/blog/:year/:month/:title/"

params:
  news_stripe:
    text: 'Join our <a href="https://github.com/flatcar/Flatcar/#monthly-office-hours-and-release-planning">Office Hours</a>, every second Tuesday of each month at 15:30 GMT.'
    expiration: "2023-12-29T17:00:00+02:00"
    style:
      bgcolor: ""
      fgcolor: ""
  DateForm: "Jan 2, 2006"
  Description: Flatcar Container Linux website
  Author: Chris Kuehl
  Email: hello@kinvolk.io
  Subtitle: Linux for containers
  social:
    - title: bluesky
      url: "https://bsky.app/profile/flatcar.org"
    - title: github
      url: "https://github.com/flatcar"
      image: "github-icon"
    - title: mastodon
      url: "https://hachyderm.io/@flatcar"
    - title: x-twitter
      url: "https://x.com/flatcar"
    - title: slack
      url: "https://kubernetes.slack.com/archives/C03GQ8B5XNJ"
    - title: matrix-org
      url: "https://app.element.io/#/room/#flatcar:matrix.org"
  favicon: "/media/brand-logo.svg"
  docs:
    github_edit_url: https://github.com/flatcar/flatcar-website/edit/master/content/docs/latest
    issues_url: https://github.com/flatcar/flatcar/issues/new?labels=kind/docs
    external_docs:
      - repo: https://github.com/flatcar/flatcar-website.git
        name: "latest"
        branch: "master"
        dir: "content/docs"

pygmentsCodefences: true
pygmentsCodefencesGuessSyntax: true
pygmentsStyle: "vs"

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    renderer:
      unsafe: true

assetDir: static

outputs:
  home:
    - json
    - html

privacy:
  youtube:
    privacyEnhanced: true

menu:
  main:
    - name: FAQ
      url: /faq
      identifier: faq
      weight: -100
    - name: Security
      url: /security
      identifier: security
      weight: -50
    - name: Blog
      url: /blog
      identifier: blog
      weight: -500
    - name: Releases
      url: /releases
      identifier: releases
      weight: -400
    - name: Docs
      url: /docs
      identifier: docs
      weight: -200
    - name: GitHub
      url: "https://github.com/flatcar"
      identifier: github
      pre: <i class="fa-brands fa-github"></i>
      weight: -1

enableEmoji: true
