baseurl: '/'
title: Flatcar Container Linux
canonifyurls: true
paginate: 8
theme: flatcar
languageCode: en-us
copyright: Copyright the Flatcar Project Contributors
pluralizelisttitles: 'false'
permalinks:
  blog: "/blog/:year/:month/:title/"

params:
  DateForm: 'Jan 2, 2006'
  Description: Flatcar Container Linux website
  Author: Chris Kuehl
  Email: hello@kinvolk.io
  Subtitle: Linux for containers
  social:
    - title: twitter
      url: 'https://twitter.com/flatcar_linux'
      image: 'twitter-icon'
    - title: github
      url: 'https://github.com/flatcar-linux'
      image: 'github-icon'
  favicon: "/media/brand-logo.svg"


pygmentsCodefences: true
pygmentsCodefencesGuessSyntax: true
pygmentsStyle: "vs"

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    renderer:
      unsafe: true

assetDir: static

privacy:
  youtube:
    privacyEnhanced: true

menu:
  main:
    - name: FAQ
      url: /faq
      identifier: faq
      weight: -100
    - name: Security
      url: /security
      identifier: security
      weight: -50
    - name: Blog
      url: /blog
      identifier: blog
      weight: -500
    - name: Releases
      url: /releases
      identifier: releases
      weight: -400
    - name: Docs
      url: /docs
      identifier: docs
      weight: -200

