// Headings

h2 {
  @include media-breakpoint-down(md) {
      font-size: 1.75rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

h3 {
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

h4 {
  @include media-breakpoint-down(md) {
    font-size: 1.375rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.25rem;
  }
}

h5 {
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}

h6 {
  font-weight: $font-weight-semi-bold;
}

// Buttons

.btn-md {
  @include button-size($btn-padding-y-md, $btn-padding-x-md, $btn-font-size-md, $btn-border-radius-md);
  letter-spacing: 1px;
}

// Navbar

.navbar-toggler {
  position: relative;
  border: none;
  width: 20px;
  height: 18px;
  outline: none !important;

  > span {
    background: white;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    transition: all 0.3s;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      transition: all 0.3s;
    }

    &:before {
      box-shadow: 0 8px white;
      backface-visibility: hidden;
    }

    &:after {
      box-shadow: 0 16px white;
    }
  }
}

// Dropdown

.dropdown-menu {
  border-top: 2em solid rgba($white, 0);
  font-size: 1.17em;
  min-width: 9.3em;

  @include media-breakpoint-down(sm) {
    font-size: 0.875em;
    border: none;
  }
}

.dropdown-item {
  font-weight: $font-weight-extra-bold;
  transition: color 0.3s, background-color 0.3s;

  @include media-breakpoint-down(sm) {
    text-align: center;
    line-height: 1.71em;
  }
}

.dropdown-menu_lg {
  padding: $dropdown-padding-y-lg 0;

  @include media-breakpoint-down(sm) {
    padding: 0px 16px;
    font-size: 1em;
  }

  .dropdown-item {
    display: flex;
    align-items: flex-start;
    padding: 0 $dropdown-item-padding-x-lg;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      align-items: center;
      padding: 26px 10px;
    }
  }

  .dropdown-item__icon {
    width: 4.64em;
    margin-right: 2.07em;

    @include media-breakpoint-down(xs) {
      margin-right: 20px;
    }
  }

  .dropdown-item__title {
    font-size: 1.43em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0.25em;
    transition: color 0.3s;

    @include media-breakpoint-down(sm) {
      font-size: 1em;
      margin-bottom: 0;
    }
  }

  .dropdown-item__text {
    font-size: 1em;
    line-height: 1.43em;
    font-weight: $font-weight-normal;
    transition: color 0.3s;
  }

  .dropdown-item__icon {
    transition: fill 0.3s;
  }

  .dropdown-item:nth-child(1) {
    .dropdown-item__title {
      color: $cyan;
    }

    .dropdown-item__icon {
      fill: $cyan;
    }
  }

  .dropdown-item:nth-child(2) {
    .dropdown-item__title {
      color: $yellow;
    }

    .dropdown-item__icon {
      fill: $yellow;
    }
  }

  .dropdown-item:hover {
    @include media-breakpoint-up(md) {
      color: $dropdown-link-hover-color-lg;
      background: $dropdown-link-hover-bg-lg;

      .dropdown-item__title {
        color: $dropdown-link-hover-color-lg;
      }

      .dropdown-item__icon {
        fill: $dropdown-link-hover-color-lg;
      }
    }
  }
}

.nav-item.dropdown:hover>.dropdown-menu.dropdown-menu_lg {
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

// Form

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  box-shadow: none;
}

// Cards

.card-header {
  padding: 0;
}

.card-body {
  padding: $card-spacer-y $card-spacer-x 0;

  @include media-breakpoint-down(xs) {
    padding: $card-spacer-y-sm $card-spacer-x-sm 0;
  }
}

.card-title {
  @include media-breakpoint-down(xs) {
    margin-bottom: $card-spacer-y-sm;
  }
}

.card p {
  font-size: 1rem;

  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}

.card-header {
  font-size: 1.125rem;
}

// Carousel

.carousel-inner {
  padding-bottom: 40px;
}

.carousel-indicators [data-bs-target] {
  background-color: $carousel-indicator-bg;
  opacity: 1;

  &.active {
    background-color: $carousel-indicator-active-bg;
  }
}

// Pagination

.pagination {
  align-items: center;
  justify-content: center;
}

.page-link {
  font-weight: $font-weight-semi-bold;
  min-width: 2.5em;
  min-height: 2.5em;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  text-align: center;
  transition: color 0.3s, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item:first-child, .page-item:last-child {
  display: none;
}

.page-item:nth-child(2), .page-item:nth-last-child(2) {
  .page-link {
    padding: 1.25em;
    background: $flatcar-bg-blue;
    box-shadow: inset 0 0 0 3px $flatcar-bg-blue;
  }

  .page-link span {
    display: none;
  }

  .page-link {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url("/images/arrow-big-white.svg") no-repeat center;
      background-size: contain;
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.page-item:nth-child(2) {
  margin-right: 26px;

  @include media-breakpoint-down(xs) {
    margin-right: 16px;
  }

  .page-link:before {
    transform: rotate(-180deg);
  }
}

.page-item:nth-last-child(2) {
  margin-left: 26px;

  @include media-breakpoint-down(xs) {
    margin-left: 16px;
  }
}

.page-item + .page-item:not(:nth-child(2)):not(:nth-child(3)):not(:nth-last-child(2)) {
  margin-left: 12px;
}

.page-item.disabled {
  .page-link {
    box-shadow: inset 0 0 0 3px $gray;
  }
}

.page-item:nth-child(2):not(.disabled):hover,
.page-item:nth-last-child(2):not(.disabled):hover {
  .page-link {
    color: $black;
    background: none;

    &:before {
      background-image: url("/images/arrow-big.svg");
    }
  }
}

a:hover {
  color: $flatcar-blue;
}

.page-item.active .page-link, .page-link:hover {
  background-color: $flatcar-blue;
  border-color: $flatcar-blue;
}
