{{ partial "header.html" .}}

{{ $chan_desc := (dict "stable" "The Stable channel is intended for use in production clusters. Versions of Flatcar Container Linux have been tested as they move through Alpha and Beta channels before being promoted to stable." "alpha" "The Alpha channel follows a more frequent release cadence and is where new updates are introduced. Users can try the new versions of the Linux kernel, systemd and other core packages." "beta" "The Beta channel is where Flatcar Container Linux stability is solidified. We encourage including some beta machines in production clusters in order to catch any issues that may arise with your setup." "edge" "The Edge channel includes experimental features and patches of the Linux kernel and other core OS packages. It is designed for experimental purposes and is not supported.") }}

{{ $orderedchan := (slice "stable" "beta" "alpha" "edge") }}

<div class="container">
  <div class="row mt-5">
  <h2>Release Channels</h2>
  <div class="card-deck-wrapper">
    <div class="card-deck">
       {{ range $i, $name := $orderedchan }}
       {{ $chan := index $.Site.Data.releases $name }}
       <div class="card" {{ if eq $chan.current.channel "edge" }}style="background-color: rgba(239, 239, 239, 0.5)"{{ end }}>
           <div class="card-header align-middle">
               <h5 class="d-inline"> {{ humanize $chan.current.channel }} </h5>
               <div class="pull-right text-right">
               {{ $chan.current.version }}<br>
               {{ range $j, $arch := $chan.current.architectures }}
               <a class="arch small font-weight-light" href="https://{{ $chan.current.channel }}.release.flatcar-linux.net/{{ $arch }}-usr/current/">
                   {{ $arch }}</a>
               {{ end }}
               </div>
           </div>
           <div class="card-body">
             <p>{{ index $chan_desc $chan.current.channel }}</p>
           </div>
           <div class="card-footer">
               {{ range $pkg, $ver := $chan.current.image_packages }}
                 {{ $.Scratch.SetInMap "pkgPkgMap" $pkg $pkg }}
               {{ end }}
               {{ $pkgSorted := $.Scratch.GetSortedMapValues "pkgPkgMap" }}
               {{ $.Scratch.Delete "pkgPkgMap" }}
               {{ range $i, $ver := sort $chan.current.image_packages "" }}
              <span class="badge badge-light">{{ index $pkgSorted $i }} -<span class="font-weight-light"> {{ $ver }}</span></span>
              {{ end }}
           </div>
           <div class="card-footer">
             <span class="badge badge-light">
               Release Date: <span class="font-weight-light">{{ dateFormat "Jan 2, 2006" $chan.current.github_release.published_at }}</span>
             </span>
           </div>
       </div>
       {{ end }}
    </div>
  </div>
  </div>

  <div class="row mt-5" style="justify-content: space-between;">
      <h2>Release Notes</h2>
      <div style="padding-right: 1rem;">
        <a href="/releases-json/releases.json" class="small" style="box-shadow: 0 0 0 white; border: none;"><span class="fa fa-rss"></span> JSON feed (all releases)</a>
      </div>
      <div class="mt-3">
	        <ul class="nav nav-tabs" id="release-tabs" role="tablist">
              {{ range $i, $name := $orderedchan }}
              {{ $chan := index $.Site.Data.releases $name }}
		          <li class="nav-item">
			            <a class="nav-link {{ if eq $chan.current.channel "stable" }}active{{ end }}" id="{{ $chan.current.channel }}-release-tab"
                     data-toggle="tab" href="#{{ $chan.current.channel }}-release" role="tab"
                     aria-controls="{{ $chan.current.channel }}-release"
                     aria-selected="true">
                      {{ humanize $chan.current.channel }} Channel
                  </a>
		          </li>
              {{ end }}

	        </ul>
	        <div class="tab-content p-3" id="release-tabs-content">
              {{ range $i, $name := $orderedchan }}
              {{ $chan := index $.Site.Data.releases $name }}
              <div class="tab-pane fade {{ if eq $chan.current.channel "stable" }} active show {{ end }}" id="{{ $chan.current.channel }}-release"
                   role="tabpanel" aria-labelledby="{{ $chan.current.channel }}-release-tab">
                  <div style="text-align: right;">
                  <a href="/releases-json/releases-{{ $chan.current.channel }}.json" class="small" style="box-shadow: 0 0 0 white; border: none;"><span class="fa fa-rss"></span> JSON feed ({{ $chan.current.channel }})</a>
                  </div>
                  {{ range $pkg, $ver := $chan.current.image_packages }}
                  {{ $.Scratch.SetInMap "pkgPkgMap" $pkg $pkg }}
                  {{ end }}
                  {{ $pkgSorted := $.Scratch.GetSortedMapValues "pkgPkgMap" }}
			            {{ partial "release-notes.html" (dict "ctx" . "chan" $chan "pkgs" $pkgSorted) }}
                  {{ $.Scratch.Delete "pkgPkgMap" }}
		          </div>
              {{ end }}
	        </div>
      </div>
  </div>
</div> <!-- container -->

<script>
$(document).ready(function(){
  var anchor = $(location).attr("hash").substring(1);
  var elem = $(document.getElementById(anchor)); // Directly $(id) does not work
  if (!elem.is(":visible")) {
    if (anchor.startsWith("release")) {
      var tab_name = elem.parent().parent().parent().attr("aria-labelledby");
      $("#" + tab_name).tab("show");
      setTimeout(function() {
        $(document).scrollTop(elem.offset().top);
      }, 200);
    }
    if (anchor.endsWith("release")) {
      $("#" + anchor + "-tab").tab("show");
      setTimeout(function() {
        $(document).scrollTop($("#release-tabs").offset().top);
      }, 200);
    }
  }
});
</script>

{{ partial "footer.html" .}}
