<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <main class="main notfound row">
            <div class="mx-auto my-auto content">
                <img src="/images/404.svg" alt="404" class="main" />

                <h1>Whoops! Something's missing!</h1>
                <h2>Not to worry, head back <a href="/">home</a>!</h2>
            </div>
        </main>

        {{ block "scripts" . }}
            {{ $common := resources.Get "js/common.js" }}

            {{ $js := slice $common | resources.Concat "js/bundle.js" }}

            <script src="{{ $js.Permalink }}"></script>
        {{ end }}
    </body>
</html>
