<!DOCTYPE html>
<html>
  <head>
    {{- $redirectURL := default "" .Params.redirect_url -}}

    {{- /* If no explicit redirect_url, redirect to the latest docs */ -}}
    {{- if eq $redirectURL "" -}}
      {{- $latest := partial "docs/getlatestversion" . -}}
      {{- if $latest -}}
        {{- $redirectURL = printf "/docs/%s" $latest -}}
      {{- end -}}
    {{- end -}}

    {{- if $redirectURL -}}
    <meta http-equiv="refresh" content="0; url='{{ $redirectURL }}'" />
    {{- end -}}
  </head>
  <body>
    {{- if $redirectURL -}}
    <p>Please follow <a href="{{ $redirectURL }}">this link</a>.</p>
    {{- else -}}
    <p>No redirect found.</p>
    {{- end -}}
  </body>
</html>

