{{ partial "header.html" . }}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="d-flex align-content-stretch flex-wrap tags">
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.ByCount }}
            <div class="p-2 tag" id="{{ $value.Name | urlize }}">
              <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}" class="tag-name">{{ $value.Name | title }}</a> <span class="tag-count">{{ $value.Count }}</span>
            </div>
            {{ end }}
        </div>
      </div>
    </div>

{{ partial "footer.html" . }}
