<article class="article header-bg-stripes">
  <div class="container">
    <div class="article-main mx-auto">
      <div class="row align-items-center justify-content-center page-header">
        <div class="col-12 p-0 align-items-center text-center">
          <h2 id="blogtitle" class="section-title">{{ .Title }}</h2>
          {{ partial "authors.html" (dict "message" "By" "context" . "with_date" true ) }}
        </div>
      </div>

      {{- $path := print "**/" .Params.postImage -}}
      {{- $image := resources.GetMatch $path -}}
      {{- $imagePath := path.Join "/media/" .Params.postImage -}}
      {{- $scaleImage := true -}}
      {{- if eq (index .Params "scaleImage") false -}}
        {{- $scaleImage = false -}}
      {{- end -}}
      {{- if ($image) | and $scaleImage -}}
      {{- if in (slice "image/jpeg" "image/jpg" "image/png") (string $image.MediaType) -}}
          {{- $imagePath = ($image.Resize "900x webp q100").RelPermalink -}}
      {{- end -}}
      {{- end -}}

      <div class="row article__hero-image" role="presentation">
        <img src="{{ $imagePath }}" alt="article image" {{ if .Params.postImageTooltip }}title="{{ .Params.postImageTooltip }}"{{ end }}>
      </div>

      <div class="row flex-wrap-reverse article__wrap">
        <div class="col-12">
          <div class="article-content mx-auto" aria-describedby="blogtitle">
            {{- if .Params.moved_to_flatcar -}}
              {{ .Summary }}
              <p class="mt-3 text-center"><a href="https://flatcar-linux.org{{ .RelPermalink }}">Continue reading »</a></p>

            {{- else -}}
              {{ .Content }}
            {{- end -}}
          </div>

          <div class="article__author p-0 my-7 mx-auto text-center">
            {{ partial "authors.html" (dict "message" "WRITTEN BY" "context" . "with_date" true ) }}
            <p class="aside__title">Tags:
              {{ range .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{- . | urlize -}}/">#{{- . -}}</a>
              {{ end }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "related-posts" . }}

</article>
