{{/* Parameters to pass when calling the partial: */}}
{{/*   . (context) -> the page context */}}
{{/*   section_name -> name of the sections list parameter to use */}}

{{ $ctx := .context }}
{{ $section_name := .section_name }}
{{ $companies_sections := index $ctx.Params $section_name | default (slice) }}

{{ if not (reflect.IsSlice $companies_sections) }}
  {{ $companies_sections = slice $companies_sections }}
{{ end }}

{{ range $key,$companies_section := $companies_sections }}
{{ $names := $companies_section.companies | default slice }}
{{ $area := $companies_section.area | default "" }}
{{ $type := $companies_section.type | default "" }}
{{ if not $names }}
  {{ range $company, $value := $ctx.Site.Data.references.companies.companies }}
    {{ if ((in $value.area $area) | or (not $area)) | and ((in $value.type $type) | or (not $type)) }}
      {{ $names = append $company $names }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $title := $companies_section.title }}

<div class="container companies">
  {{ if $title }}
    <div class="row text-center align-item-center justify-content-between">
      <div class="col-12">
        <h2 class="title">{{ $title }}</h2>
      </div>
    </div>
  {{ end }}
  <div class="row align-item-center justify-content-center mt-2">
    {{ $processedImages := dict }}
    {{ range $names }}
      {{ $company := index $ctx.Site.Data.references.companies.companies . }}
      {{- $path := print "*/companies/" $company.logo -}}
      {{- $image := resources.GetMatch $path -}}
      {{- $imagePath := path.Join "/media/companies/" $company.logo -}}
      {{- if and $image (in (slice "image/webp" "image/jpeg" "image/jpg" "image/png") (string $image.MediaType)) -}}
        {{- $imagePath = ($image.Resize "x130 webp").RelPermalink -}}
      {{- end -}}
      {{ $processedImages = merge $processedImages (dict $company.logo $imagePath) }}
      <div class="col-4 col-lg-3 logo d-none d-md-flex">
        <img loading="lazy" src="{{ $imagePath }}" alt="{{ $company.name }}" />
      </div>
    {{ end }}
  </div>
  <div class="g-0 d-flex d-md-none mt-2">
    {{ $carouselId := (print "companyLogosCarousel_" $section_name "_" $key) }}
    <div id="{{ $carouselId }}" class="carousel slide" data-bs-ride="carousel">
      {{ $perPage := 4 }}
      {{ $fullPages := div (len $names) $perPage }}
      {{ $remainder := mod (len $names) $perPage }}
      {{ $numPages := $fullPages }}
      {{ if gt $remainder 0 }}
        {{ $numPages = add $fullPages 1 }}
      {{ end }}
      <div class="carousel-indicators {{ if eq $numPages 1 }}d-none{{ end }}">
        {{ range $index,$_item := (seq $numPages) }}
          <button type="button" data-bs-target="#{{ $carouselId }}" data-bs-slide-to="{{ $index }}" class="{{ if eq $index 0 }}active{{ end }}" aria-current="{{ if eq $index 0 }}true{{ else }}false{{ end }}" aria-label="Slide {{ add $index 1 }}"></button>
        {{ end }}
      </div>
      <div class="carousel-inner">
        {{ range $pageNum,$_item := (seq $numPages) }}
          <div class="carousel-item {{ if eq $pageNum 0 }}active{{ end }}">
            <div class="row align-item-center justify-content-center">
              {{ range $index,$item := (seq $perPage) }}
                {{ $arrayIndex := (mul $pageNum $perPage) | add $index }}
                {{ if lt $arrayIndex (len $names) }}
                  {{ $fullIndex := index $names $arrayIndex }}
                  {{ $company := index $ctx.Site.Data.references.companies.companies $fullIndex }}
                  <div class="col-12 logo col-sm-6 d-flex">
                    {{- $imagePath := index $processedImages $company.logo -}}
                    <img loading="lazy" src="{{ $imagePath }}" alt="{{ $company.name }}" />
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ end }}
