{{ $styles := .Params.style }}
{{ $productId := .File.BaseFileName }}

<section class="product-features">
{{ range .Params.features }}
    {{ $anchor := anchorize .title }}
    {{ $style := (or .style $styles) }}
    <div style="background-color: {{ $style.bgcolor }};"
        class="section-product"
    >
        <div class="container">
            <div
                id="{{ $productId }}"
            >
                <div class="row align-items-center justify-content-between mx-auto section-top p-0">
                    <div
                    class="col-12 col-lg-6 p-0"
                    >
                    <div class="section-product-image" role="presentation">
                        <img src="/images/{{ .icon }}" alt="" />
                    </div>
                    </div>
                    <div class="col-12 col-lg-6 section-content" {{ if $style.fgcolor }}style="color: {{ $style.fgcolor }}"{{ end }}>
                    <h2>{{ .title }}</h2>
                    <p>{{ .description }}</p>
                    </div>
                </div>
                {{ with .highlights }}
                <div class="row section-feature justify-content-between">
                    <div class="col-12 p-0">
                    <div class="row align-items-top justify-content-between d-none d-md-flex mt-6">
                        {{ range . }}
                        <div class="col-12 col-md-6 col-lg-4 pr-5">
                            <div class="card">
                            {{ if .icon }}
                            <div class="card-header" role="presentation">
                                <img src="/images/icon-{{ .icon }}.svg" alt="" />
                            </div>
                            {{ end }}
                            <div class="card-body">
                                <h5 class="card-title">{{ .title }}</h5>
                                {{ if .description }}<p class="card-description">{{ .description | markdownify }}</p>{{ end }}
                            </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="row no-gutters d-none d-block d-md-none mt-5">
                        <div id="productCarousel-{{ $productId }}" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {{ range $index,$item := . }}
                            <li data-target="#productCarousel-{{ $productId }}" data-slide-to="{{ $index }}" class="{{ if eq $index 0 }}active{{ end }}"></li>
                            {{ end }}
                        </ol>
                        <div class="carousel-inner">
                            {{ range $index,$item := . }}
                            <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
                                <div class="card">
                                {{ if .icon }}
                                <div class="card-header">
                                    <img src="/images/icon-{{ .icon }}.svg" />
                                </div>
                                {{ end }}
                                <div class="card-body">
                                    <h5 class="card-title">{{ $item.title }}</h5>
                                    {{ if .description }}<p class="card-description">{{ $item.description | markdownify }}</p>{{ end }}
                                </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
</section>
