{{ $styles := .Params.style }}
{{ $productId := .File.BaseFileName }}

<section class="product-features">
  {{ range .Params.features }}
    {{ $anchor := anchorize .title }}
    {{ $style := (or .style $styles) }}
    <div style="background-color: {{ $style.bgcolor }};" class="section-product">
      <div class="container">
        <div id="{{ $productId }}">

          <!-- Top section -->
          <div class="row align-items-center justify-content-between mx-auto section-top p-0">
            <div class="col-12 col-lg-6 p-0">
              <div class="section-product-image" role="presentation">
                <img src="/images/{{ .icon }}" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="col-12 col-lg-6 section-content" {{ if $style.fgcolor }}style="color: {{ $style.fgcolor }}"{{ end }}>
              <h2>{{ .title }}</h2>
              <p>{{ .description }}</p>
            </div>
          </div>

          <!-- Highlights Section -->
          {{ with .highlights }}
          <div class="row section-feature justify-content-between">
            <div class="col-12 p-0">

              <!-- Desktop Cards -->
              <div class="row align-items-start justify-content-between d-none d-md-flex mt-6">
                {{ range . }}
                <div class="col-12 col-md-6 col-lg-4 pe-5">
                  <div class="card h-100">
                    {{ if .icon }}
                    <div class="card-header" role="presentation">
                      <img src="/images/icon-{{ .icon }}.svg" alt="{{ .icon }}" class="img-fluid" />
                    </div>
                    {{ end }}
                    <div class="card-body text-white">
                      <h5 class="card-title">{{ .title }}</h5>
                      {{ if .description }}<p class="card-text">{{ .description | markdownify }}</p>{{ end }}
                    </div>
                  </div>
                </div>
                {{ end }}
              </div>

              <!-- Mobile Carousel -->
              <div class="row g-0 d-none d-block d-md-none mt-5">
                <div id="productCarousel-{{ $productId }}" class="carousel slide" data-bs-ride="carousel">

                  <!-- Indicators -->
                  <div class="carousel-indicators">
                    {{ range $index,$item := . }}
                    <button type="button"
                            data-bs-target="#productCarousel-{{ $productId }}"
                            data-bs-slide-to="{{ $index }}"
                            class="{{ if eq $index 0 }}active{{ end }}"
                            aria-current="{{ if eq $index 0 }}true{{ else }}false{{ end }}"
                            aria-label="Slide {{ add $index 1 }}"></button>
                    {{ end }}
                  </div>

                  <!-- Carousel Items -->
                  <div class="carousel-inner">
                    {{ range $index,$item := . }}
                    <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
                      <div class="card">
                        {{ if .icon }}
                        <div class="card-header">
                          <img src="/images/icon-{{ .icon }}.svg" alt="{{ .icon }}" class="img-fluid" />
                        </div>
                        {{ end }}
                        <div class="card-body">
                          <h5 class="card-title">{{ $item.title }}</h5>
                          {{ if .description }}<p class="card-text">{{ $item.description | markdownify }}</p>{{ end }}
                        </div>
                      </div>
                    </div>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
</section>
