<!-- Navigation -->
{{ $isHome := eq "/" ((.URL | relURL) | string) }}
<nav class="navbar navbar-expand-sm navbar-dark">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar-collapse justify-content-beginning">
        <ul class="navbar-nav">
            {{ range .Site.Menus.left }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown mx-1 mt-1 px-2" id="menu-{{ .Identifier }}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenu{{ .Name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ .Name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu{{ .Name }}">
                        {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                        {{ end }}
                    </div>
                </li>
                {{ else }}
                <li class="nav-item mx-1 mt-1 px-2" id="menu-{{ .Identifier }}">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    <!-- /.navbar-collapse -->

{{ if not $isHome }}
    <a class="navbar-brand d-none d-sm-block" href="{{ .Site.BaseURL }}/">
        <img src="{{ .Site.BaseURL }}/media/brand-logo.svg" />
    </a>
{{ end }}

    <div class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown mx-1 mt-1 px-2" id="menu-{{ .Identifier }}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenu{{ .Name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ .Name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu{{ .Name }}">
                        {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                        {{ end }}
                    </div>
                </li>
                {{ else }}
                <li class="nav-item mx-1 mt-1 px-2" id="menu-{{ .Identifier }}">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
