    <ul class="navbar-nav align-items-center">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
              <li class="nav-item dropdown">

                <a href="{{ .URL }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name }}
                  <span class="navbar__link-underline"></span>
                </a>

                {{ $scratch := newScratch }}
                {{ range .Children }}
                  {{ $scratch.Add "itemLogo" .Pre }}
                {{ end }}

                  <div class="dropdown-menu row {{ if (gt (len ($scratch.Get "itemLogo")) 0) }}dropdown-menu_lg{{ end }}">
                      {{ if .Pre }}
                        <div class="dropdown-item-pre" style="color: white">
                          {{ .Pre|markdownify }}
                        </div>
                      {{ end }}
                      <div {{ if (gt (len ($scratch.Get "itemLogo")) 0) }}class="d-md-flex"{{ end }}>
                        {{ range $index, $elem := .Children }}
                          {{ $careers := $.GetPage "careers" }}
                          {{ if ($careers.Params.hiring) | or (not (eq $elem.Identifier "careers")) }}
                          <a href="{{ $elem.URL }}" class="dropdown-item">
                            {{ if gt (len .Pre) 0 }}
                            <div class="dropdown-item__icon">
                              {{ $elem.Pre }}
                            </div>
                            {{ end }}
                            <div class="dropdown-item__description">
                              <div class="dropdown-item__title">{{ $elem.Name }}</div>
                              {{ with  $elem.Title }}
                              <p class="dropdown-item__text">{{ $elem.Title }}</p>
                              {{ end }}
                            </div>
                          </a>
                          {{ end }}
                        {{ end }}
                      </div>
                      {{ if .Post }}
                        <div class="dropdown-item-post " style="color: white">
                          {{ .Post|markdownify }}
                        </div>
                      {{ end }}
                  </div>
              </li>
          {{ else }}
              <li class="nav-item">
                  <a href="{{ .URL }}" {{- if .Pre -}}title="{{ .Name }}"{{- end -}} class="nav-link">
                    {{- if .Pre -}}{{ .Pre }}{{- else -}}{{ .Name }}{{- end -}}
                    <span class="navbar__link-underline"></span>
                  </a>
              </li>
          {{ end }}
      {{ end }}
      {{ if not .IsHome }}
      {{- $themes := slice
            (dict "mode" "auto"  "icon" "auto-icon" "label" "Auto"  "desc" "Follow system")
            (dict "mode" "light" "icon" "sun-icon"  "label" "Light" "desc" "Light theme")
            (dict "mode" "dark"  "icon" "moon-icon" "label" "Dark"  "desc" "Dark theme")
      -}}
      <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle theme-switcher__toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Theme selector">
            <span class="theme-switcher__current-icon">
              <svg class="theme-switcher__icon" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <use href="#auto-icon" xlink:href="#auto-icon"/>
              </svg>
            </span>
            <span class="navbar__link-underline"></span>
          </a>
          <div class="dropdown-menu theme-switcher__menu">
            {{- range $themes }}
            <a href="#" class="dropdown-item theme-switcher__option" data-theme-mode="{{ .mode }}">
              <div class="dropdown-item__icon">
                <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <use href="#{{ .icon }}" xlink:href="#{{ .icon }}"/>
                </svg>
              </div>
              <div class="dropdown-item__description">
                <div class="dropdown-item__title">
                  {{ .label }}
                  <span class="theme-switcher__checkmark">
                    <svg fill="currentColor" viewBox="0 0 16 16"><use href="#check-icon" xlink:href="#check-icon"/></svg>
                  </span>
                </div>
                <p class="dropdown-item__text">{{ .desc }}</p>
              </div>
            </a>
            {{- end }}
          </div>
      </li>
      {{ end }}
    </ul>
