<div class="row">
  {{ $items := (where .context.Site.RegularPages "Section" "open-source")}}
  {{ $showDescription := (default true .showDescription) }}
  {{ $numCols := div 12 (default 2 .numColumns) }}
  {{ if .filter }}
    {{ $items = where $items "tags" "intersect" .filter }}
  {{ end }}
  {{ range $items }}
    {{ $hasContent := (len .Content)|lt 1 }}
    <div class="col-12 col-md-{{ $numCols }}">
      <h4><a href={{ cond $hasContent .Permalink .Params.link }}>{{ or .Params.name .Params.title }}</a></h4>
      {{ if $showDescription }}
        <p>{{ .Params.description }}</p>
      {{ end }}
    </div>
  {{ end }}
</div>
