<!-- FAQ -->
{{ $fc := .Site.Data.flatcar }}
{{ with $fc }}
        <div class="container">
            <div class="row page-highlight my-5">
                <div class="col-12">
                    <p>{{ .description | markdownify }}</p>
                </div>
            </div>
            <div class="row sections py-2 mb-3">
                {{ range .sections }}
                <div class="col-md-4 col-sm-12 mb-3">
                    <h2> {{ .title }}</h2>
                    <p class="mb-auto"> {{ .description | markdownify }} </p>
                    <a class="btn btn-link" href="{{ .button.link }} ">{{ .button.text }}</a>
                </div>
                {{ end }}
            </div>
            {{- if .article -}}
            <div class="row">
                <div class="col=12">
                    <p>{{ .article |markdownify }}</p>
                </div>
            </div>
            {{- end -}}
        </div>
{{ end }}