{{ $ctx := .ctx }}
{{ $pkgs := .pkgs }}
{{ range $i, $release := sort .chan "version" "desc" }}
{{ if ne $release.release "current" }}
<div class="row">
  <div class="col-md-2">
    <h5 style="margin-bottom: 0" id="release-{{ $release.version }}"><a style="box-shadow: 0 0 0 white; border: none;" href="#release-{{ $release.version }}">{{ $release.version }}</a></h5>
    {{ range $j, $arch := $release.architectures }}
    <a class="arch small font-weight-light" href="https://{{ $release.channel }}.release.flatcar-linux.net/{{ $arch }}-usr/{{ $release.version }}/">{{ $arch }}</a><br>
    {{ end }}
  </div>
  <div class="col-md-10">
    <p class="small">Release Date: {{ dateFormat "Jan 2, 2006" $release.github_release.published_at }}</p>
      {{ range $i, $ver := sort $release.image_packages "" }}
        {{ index $pkgs $i }} <span class="mr-2 badge badge-pill badge-light">{{ $ver }}</span>
      {{ end }}
      <div class="release-notes">
          {{ $release.github_release.body | markdownify }}
      </div>
  </div>
</div>
{{ end }}
{{ end }}

