{{ partial "header.html" .}}

<main class="main blog-page">
  <section class="header-blog">
    <div class="container">
      <div class="row post-hero post__item">
        {{- $scaleImage := true -}}
        {{ range first 1 (where .Data.Pages "Type" "blog").ByDate.Reverse }}
          <div class="col-12 col-lg-6 order-first order-lg-last p-0">
            {{- $path := print "*/" .Params.postImage -}}
            {{- $image := resources.GetMatch $path -}}
            {{- $imagePath := path.Join "/media/splash/" .Params.postImage -}}
            {{- if eq (index .Params "scaleImage") false -}}
              {{- $scaleImage = false -}}
            {{- end -}}
            {{- if ($image) | and $scaleImage -}}
            {{- if in (slice "image/jpeg" "image/jpg" "image/png") (string $image.MediaType) -}}
                {{- $imagePath = ($image.Resize "920x webp q100").RelPermalink -}}
            {{- end -}}
            {{- end -}}
            <div class="w-100 h-100 post-hero__image" style="background-image: url('{{ $imagePath }}');">
            </div>
          </div>
          <div class="col-12 col-lg-6 order-last order-lg-first card post-hero__content p-0">
            <div class="card-body">
              <h2>
                <a href="{{ .Permalink }}" class="card-title post__title" aria-label="Read more about {{ .Title }}">
                  {{ .Title }}
                </a>
              </h2>
              {{ partial "authors.html" (dict "context" . "with_date" true "message" "By")  }}
              <p  class="read-more">
                <a href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}">Read more</a>
              </p>
            </div>
          </div>
        {{ end }}
      </div>
      {{ partial "paginator.html" (.Paginate (after 1 (where .Data.Pages "Type" "blog").ByDate.Reverse)) }}
      <div class="row justify-content-center pagination-wrap">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </section>

</main>

{{ partial "footer.html" .}}
