<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{- partial "head.html" . -}}
    {{ partial "theme-mode.html" (dict "part" "head" "page" .) }}
  </head>
  <body>
    <a class="visually-hidden visually-hidden-focusable" href="#content">Skip to content</a>
    {{- partial "header.html" . -}}
    <main class="main blog-page" id="content" role="main">
      {{ partial "hero" . }}
      <div class="container">
        <div class="row post-hero post__item">
          {{- $scaleImage := true -}}
          {{ range first 1 (where .Data.Pages "Type" "blog").ByDate.Reverse }}
            <div class="col-12 col-lg-6 order-first order-lg-last p-0">
              {{- $path := print "**/" .Params.postImage -}}
              {{- $image := resources.GetMatch $path -}}
              {{- $imagePath := path.Join "/media/splash/" .Params.postImage -}}
              {{- if eq (index .Params "scaleImage") false -}}
                {{- $scaleImage = false -}}
              {{- end -}}
              {{- if ($image) | and $scaleImage -}}
              {{- if in (slice "image/jpeg" "image/jpg" "image/png") (string $image.MediaType) -}}
                  {{- $imagePath = ($image.Resize "920x webp q100").RelPermalink -}}
              {{- end -}}
              {{- end -}}
              <div class="w-100 h-100 post-hero__image" style="background-image: url('{{ $imagePath }}');"></div>
            </div>
            <div class="col-12 col-lg-6 order-last order-lg-first card post-hero__content p-0 rounded-0">
              <div class="card-body">
                <a href="{{ .Permalink }}" class="card-title post__title" aria-label="Read more about {{ .Title }}">
                  <h2>{{ .Title }}</h2>
                </a>
                {{ partial "authors.html" (dict "context" . "with_date" true "message" "By") }}
                <p class="read-more">
                  <a href="{{ .Permalink }}" aria-label="Read more about {{ .Title }}">Read more
                    <svg class="btn-arrow__icon" viewBox="0 0 12 15">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/arrow.svg#arrow"></use>
                    </svg>
                  </a>
                </p>
              </div>
            </div>
          {{ end }}
        </div>
        {{ partial "paginator.html" (.Paginate (after 1 (where .Data.Pages "Type" "blog").ByDate.Reverse)) }}
        <div class="row justify-content-center pagination-wrap">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </main>

    {{- partial "footer.html" . -}}
    {{ partial "theme-mode.html" (dict "part" "body" "page" .) }}
  </body>
</html>
