{{ define "main" }}
    {{ .Render "common-page" }}
{{ end }}

{{ define "unique-content" }}
    {{ if .Params.show_projects }}
        <section>
            <div class="container">
                {{ partial "cards-section.html" (dict "context" . "sectionTitle" "Projects" "items" (where $.Site.RegularPages "Section" "labs") ) }}
            </div>
        </section>
    {{ end }}
    {{ if .Params.open_source }}
        {{ $context := . }}
        {{ with .Params.open_source }}
            <section>
                <div class="container">
                    <h2 class="w-100 text-center">{{ .title }}</h2>
                    <p>{{ .description }}</p>

                    {{ partial "open-source-projects" (dict "context" $context ) }}

                    <div class="row no-gutters w-100 mt-5 justify-content-center">
                        <a href="" class="btn btn-md btn-blue">Get in Touch</a>
                    </div>
                </div>
            </section>
        {{ end }}
    {{ end }}
{{ end }}

{{ define "bottom" }}
  {{ partial "related-posts" . }}
{{ end }}
