{{ define "unique-content" }}
    <section>
        {{ $support := where (where $.Site.RegularPages "Section" "products") ".Params.product_type" "=" "support" }}
        {{ partial "cards-section.html" (dict "context" . "sectionTitle" "Enterprise Support" "items" $support ) }}
    </section>

    <section>
        {{ $projects := where (where $.Site.RegularPages "Section" "products") ".Params.product_type" "!=" "support" }}
        {{ partial "cards-section.html" (dict "context" . "sectionTitle" "Projects" "items" $projects ) }}
    </section>
{{ end }}
