<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <main class="main">
            <div class="header-bg-stripes">
                <div class="container">
                    <div class="row align-items-center justify-content-center page-header">
                        <div class="col-12 p-0 align-items-center text-center">
                            <h2 class="section-title">Posts Tagged #{{ .Title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pt-4">
                <div class="align-items-center justify-content-center page-header">
                    {{ partial "paginator.html" (.Paginate (.Pages.ByDate.Reverse)) }}
                </div>
                <div class="row justify-content-center pagination-wrap">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
